// CSS normalize
@import "modules/normalize";
//base styles + bourbon
// see modules/_base.scss
@import "modules/main";

//modules
@import "modules/utilities";
@import "modules/grid";
@import "modules/button";
@import "modules/forms";
@import "modules/tables";

//typography
@import "modules/typography";

//page parts
@import "partials/header";
@import "partials/menu";
@import "partials/page";
@import "partials/sidebar";
@import "partials/footer";

//plugins vendors
@import "vendor/vendor";


//animations
@import "modules/_animations.scss";
//print styles
@import "modules/print";
