@import "../../modules/_base.scss";
/*Hero slider*/
.b-hero{
    min-height:410px;
    position:relative;
    background:#222;
    overflow:hidden;
    color:#fff;

    .bx-wrapper,
    .bx-viewport{
        height:100% !important;
    }

    &:after{
        content:'';
        display:block;
        padding-top:585*100%/1000;
    }

    .g-container{
        height:100%;
    }
}

.b-hero__inner{
    position:absolute;
    top:0; right:0; bottom:0; left:0;
}

.b-hero__slider{
    @extend .g-clearlist;
    height:100%;

    .g-container{
        max-width:840px;
        padding-top:20px;
        padding-bottom:20px;
    }
}

.b-hero__item{
    display:block;
    height:100% !important;
    position:relative;

    &:after{ //маска - притемним картинку
        content:'';
        display:block;
        @extend .b-hero__inner;
        background:rgba(#000, .35);
        z-index:2;
    }
}

.b-hero__wrapper{
    margin:0;
    display:flex;
    height:100%;
    align-items:center;
}
.b-hero__content{
    width:100%;
    @extend .g-resp-text;
    text-align:center;
    position:relative;
    z-index:3;//поверх маски

    &:before{
        content:'';
        @extend .b-hero__inner;
        background:rgba(#000, .25);
        box-shadow:0 0 40px 30px rgba(#000, .25);
        z-index:-1;
    }
}

.no-flexbox{
    .b-hero__wrapper{
        display:table;
        width:100%;
        table-layout:fixed;
    }

    .b-hero__content{
        display:table-cell;
        vertical-align:middle;
    }
}

.b-hero__title{
    display:block;
    margin-bottom:8px;
    line-height:1.1;
    font-size:rem(12px);
    font-weight:bold;
    text-transform:uppercase;
    color:#fff;

    @include media($small){
        margin-bottom:$project-line-height/2;
        font-size:rem(18px);
    }

    @include media($tablet){
        font-size:rem(22px);
    }
}

.b-hero__btn{
    @extend .g-btn;
    color:#fff;
    border-color:#fff;
    box-shadow: inset 0 0 1px  #fff;

    &:hover,
    &:focus,
    &:active{
        border-color:$primary;
    }
}

//изображения слайдера
.b-hero__bg{
    @extend .b-hero__inner;
    background-position:center center;
    background-repeat:no-repeat;
    z-index:1;//под маской
}

.b-hero__bg--xl{
    display:none;
}

//навигация
.b-hero__nav{
    @extend .b-hero__inner;

    .g-container{
        position:relative;
    }
}

.b-hero__prev,
.b-hero__next{
    display:none;
    position:absolute;
    @include size(60px);
    line-height:60px;
    top:50%;
    margin-top:-30px;
    z-index:60;
    font-size:rem(54px);
    text-align:center;
    color:#fff;
    cursor:pointer;
    outline:0;
    user-select:none;
    transition-property:opacity;
    opacity:.5;
    @extend .g-transition;

    &:hover,
    &:active{
        opacity:1;
    }
}

.b-hero__prev{
    left:10px;
}

.b-hero__next{
    right:10px;
}

@include media($desktop){
    .b-hero{
        height:585px;

        &:after{
            display:none;//скрыли распорку
        }
    }
    .b-hero__slider{
        .g-container{
            padding-top:50px;
            padding-bottom:50px;
        }
    }
    .b-hero__prev,
    .b-hero__next{
        display:block;
    }
    .b-hero__bg--xs{
        display:none;
    }
    .b-hero__bg--xl{
        display:block;
    }
    .b-hero__title{
        font-size:30px;
        margin-bottom:35px;
    }
    .b-hero__btn{
        margin-top:25px;
    }
}

@include media($large){
    .b-hero__prev{
        left:0;
    }
    .b-hero__next{
        right:0;
    }
}

@include media($extra-large){
    .b-hero{
        height:685px;
    }
    .b-hero__prev{
        left:-110px;
    }
    .b-hero__next{
        right:-110px;
    }
}


//анимация
@include media($desktop){ //на мобилках - не будем мучать браузер
    .js-slider-animate{
        .b-hero__title,
        & > p{
            transition-property:opacity, transform;
            transition-timing-function:linear;
            transition-duration:1s;
            opacity:0.2;
        }

        .b-hero__title{
            transform:translateY(20px);
        }

        & > p{
            transform:translateY(10px);
        }

        &.active{
            .b-hero__title,
            & > p{
                transform:translateY(0);
                opacity:1;
            }
        }
    }
}