@import "../modules/base";
/*Site Footer*/
.b-footer{
    background:#171717;
    color:#fff;
    text-align:center;
}

.b-footer__sole{//копирайт
    padding:14px 0 25px;
    font-size:rem(11px);
    color:#5d5d5d;

    @include media($small){
        font-size:rem(14px);
    }
}

@import "footer/_footer-main.scss";
@import "footer/_scroll-up.scss";
@import "footer/_callback-button.scss";
@import "footer/_side-social-links.scss";
