@import "../modules/_base.scss";

/*Page Sections*/
.page__section{
    padding:30px 0;
    line-height:1.25;
    background:#fff;

    @include media($desktop){
        padding:35px 0;
    }

    @include media($large){
        padding:45px 0;
    }

    @include media($extra-large){
        padding:90px 0;
    }
}

.page__section--alt{
    background:$bg-alt;
}

.page__section--font1{
    font-size:rem(14px);
    line-height:1.56;
}

.page__section--font2{
    font-size:rem(14px);
    line-height:1.2857;
}


/*Page grid*/
.page__grid{
    @extend .g-container;
    padding-top:45px;
    padding-bottom:100px;
}

.page__main,
.page__side{
    @extend .g-column;
}

.page__main{
    margin-bottom:2*$project-line-height;

    @extend .page__section--font2;

    .g-title1, .g-title2, .g-title3{
        margin-bottom:20px;
    }
}


@include media($tablet){
    .page__main{
        float:right;
        margin-bottom:0;
        width: 2*(100%-$grid-gutter*2)/3 + $grid-gutter;
    }

    .page__side{
        width:(100%-$grid-gutter*2)/3;
    }
}

@include media($large){
    .page__main{
        width:800*100%/1170;
    }

    .page__side{
        width:320*100%/1170;
    }
}


@import "page/_hero-slider.scss";
@import "page/_icon-block.scss";//блок с иконками на главной
@import "page/_connect.scss";//блок Связаться с нами на главной
@import "page/_google-map.scss";//блок с Гугл-картой
@import "page/_contacts.scss"; //страница Контакты
@import "page/_items-list.scss"; //список Университетов и т.п.
@import "page/_breadcrumbs.scss";//крошки
@import "page/_pagination.scss"; //пагинация
@import "page/_staff-slider.scss";//команда










