@import "base";
/* Buttons */
.g-btn,
.g-clearbutton{
    display:inline-block;
    vertical-align:middle;
    cursor: pointer;
    box-sizing: border-box;
    outline:0;
    text-align: center;
    text-decoration: none !important;
    white-space: nowrap;

    &:active{
        transform:translateY(2px);
    }
}

.g-clearbutton{
    border:none;
    background:none;
    padding:0;
}

.g-btn{
    height:50px;
    line-height:50px;
    padding:0 20px;
    color:$primary;
    font-size:rem(14px);
    background: none;
    border-radius:25px;
    text-transform:uppercase;
    font-weight:bold;
    border:1px solid $primary;

    &:hover,
    &:focus,
    &:active{
        background:$primary;
        color:#fff;
    }

    &:disabled{
        background:grey;
        box-shadow:inset 0 0 1px 0 $border-color;
        color:#fff;
        transform:none;
    }

    [class^="icomoon-"], [class*=" icomoon-"]{
        display:inline-block;
        transform:translateY(1px);
    }
}

@include media($tablet){
    .g-btn{
        height:60px;
        line-height:60px;
        padding:0 40px;
        border-radius:30px;
        font-size:rem($project-font-size);
    }

    .g-btn--small{
        padding:0 30px;
    }
}

.g-btn--small{
    height:50px;
    line-height:50px;
    border-radius:25px;
    font-size:rem(14px); 
}



