@import "base";
/*Grid*/
.g-container {
    @include outer-container();
    padding:0 10px;
    box-sizing:border-box;


    @include media($tablet){
        width:750px;
    }

    @include media($desktop){
        width:100%;
    }
}

.g-container__inner{
    max-width:830px;
    margin:0 auto;
}

.g-container__form{ //контейнер формы Связаться с нами
    max-width:625px;
    margin:0 auto;

    @include media($desktop){
        .g-col--one-half{
            &:first-child{
                padding-right:10px;
            }
            &:last-child{
                padding-left:10px;
            }
        }
    }
}

.g-row{
    @include row();
}


/*Default Grid*/
.g-column{
    width: 100%;
    float: left;
    box-sizing: border-box;
    min-height:1px;
}
.g-col{
  @extend .g-column;

  @include media($tablet){
      margin-left:$grid-gutter;
      &:first-child{
          margin-left:0;
      }    
  }
}

@include media($tablet){
    .g-col--one-half{
        width:(100%-$grid-gutter)/2;
    }
    
    .g-col--one-third{
        width:(100%-$grid-gutter*2)/3;
    }
    .g-col--two-thirds{
        width: 2*(100%-$grid-gutter*2)/3 + $grid-gutter;
    }
    .g-col--one-fourth{
        width:(100% - $grid-gutter*3)/4;
    }
    .g-col--one-fifth{
        width: (100%-$grid-gutter*4)/5;
    }
    .g-col--one-sixth{
        width: (100%-$grid-gutter*5)/6;
    }
}
