@import "base";

/*Modal Windows*/
.page__overlay{
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.5;
    filter: alpha(opacity=50);
    z-index:3000;
    display:none;
}

.b-modal{
    position:absolute;
    display:none;
    box-sizing:border-box;
    width:96%;
    max-width:800px;
    background:#000;
    background:rgba(0,0,0,0.2);
    border-radius:10px;
    padding:8px;
    z-index:3100;
}

.b-modal__content{
    border-radius:$border-radius;
    background:#fff;
    padding:20px 10px;
    margin:0;
    font-size:rem($project-font-size);

    @include media($small){
        padding:20px;
    }
}
.b-modal__close{
    @extend .g-clearbutton;
    position:absolute;
    top:10px;
    right:10px;
    text-decoration:none;
    color:$primary;
}
